<% title "Test" %>
<h1>Home#test</h1>
<p>Find me in app/views/home/test.html.erb</p>
<a target="_blank" href="https://google.com" class="btn btn-lg btn-primary btn-block">Open Google</a>
<%= link_to "Home", root_path, class: "btn btn-lg btn-secondary btn-block" %>
